# Security & JWT Configuration
SECRET_KEY=949f298c4a91eb8f4f346b97d283c7b396b29b6f4e3c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Database Backend (Choose SQLite or Supabase PostgreSQL)
# 1. Local SQLite (Default fallback):
# DATABASE_URL=sqlite:///./hrms.db

# 2. Supabase PostgreSQL (Direct or Pooler Connection URI):
# DATABASE_URL=postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-[YOUR-REGION].pooler.supabase.com:6543/postgres?sslmode=require
DATABASE_URL=sqlite:///./hrms.db
